<div class="container">
  <div class="header">
    <h1>Quotes</h1>
    <%= link_to "New quote",
                new_quote_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Quote.new) } %>
  </div>

  <%# this stream will lestin to broadcast that coming from quote model %>
  <%= turbo_stream_from current_company, "quotes" %>

  <%# This frame will appear the create form when data turbo frame clicked %>
  <%= turbo_frame_tag Quote.new %>

  <%= turbo_frame_tag "quotes" do %>
    <%= render @quotes %>
  <% end %>
</div>
